<%= form_for(drink) do |f| %>
  <% if drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :quality %>
    <%= f.number_field :quality %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :max_price %>
    <%= f.text_field :max_price %>
  </div>

  <div class="field">
    <%= f.label :min_price %>
    <%= f.text_field :min_price %>
  </div>

  <div class="field">
    <%= f.label :bar_id %>
    <%= f.text_field :bar_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
