<!--- Buy Section -->
<table class="table">
  <thead>
    <tr class="top">
      <th>Name</th>
      <!-- <th style="text-align: center">Bio</th> -->
      <th>Price</th>
      <th>Difference</th>
      <% if session[:owner_id] %>
      <th>SDLT</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% drinks.each_with_index do |drink,i| %>
    <tr>
      <td class="drink_name"><%= drink.name %></td>
      <!-- <td class="drinks" style="text-align: center"><%#= drink.bio %></td> -->
      <td class="drinkss">$<span class="drinkss"><%= drink.current_price %></span></td>

      <% if drink.price_difference > 0 %>
      <td><%= drink.price_difference %><i class="fa fa-arrow-up" id="up_arrow" aria-hidden="true"></i></td>
      <% elsif drink.price_difference < 0%>
      <td> <%= drink.price_difference %><i class="fa fa-arrow-down" id="down_arrow" aria-hidden="true"></i></td>
      <% else %>
      <td><%= drink.price_difference %></td>
      <% end %>
      <% if session[:owner_id] %>
      <td><%= sold_during_last_timer(drink) %></td>
      <% end %>
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <td><button class="btn btn-success customButton <%= i %>">Purchase</button></td>


      <td><%= link_to 'Graph', '#', class: "btn btn-success", data: {toggle: "modal", target: "#graph", data: drink.price_graph_data, name: drink.name} %></td>
    </tr>

    <% end %>
  </tbody>
</table>
