<div id="graph" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"></h4>
      <div class="modal-body">
        <%= render 'graph' %>
      </div>
    </div>
  </div>
</div>
<div id="fullpage">
  <!-- Image Background -->
  <div class="section" id="section1" data-anchor="home">
      <div class="container">
        <div class="row row1">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1 style="font-size: 69px;">Welcome To DYNAMIC DRINKS</h1>
              <div class="container">
                <p id="app-explaination">
                  The new innovation to buying drinks
                  <br/>
                  Remember to drink responsibly
                </p>
              </div>
            </div>
            <div class="container" style="text-align: center;">
              <a href="#drinks"><button type="button" class="btn btn-success btn-lg">Drink Menu</button></a>
              <a href="#about"><button type="button" class="btn btn-primary btn-lg">About</button></a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="section" id="section2" data-anchor="about">
    <div class="video">
      <div class="container_video">
        <iframe class="iframe" src="https://player.vimeo.com/video/177134132" width="900" height="600" align="center" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!-- the navbar on top of the timer -->


  <div class="section" id="section3" data-anchor="drinks">

    <div class="market_crash">
    </div>

      <% if session[:owner_id] %>
      <div class = "onwers_info">
        <div class ="admin_timers" style="padding-top: 75px;">
          <form class="form-inline">
            <div class="form-group" >
              <label>Timer:</label>
              <input type="number" class="grab_time" placeholder="In Seconds">
            </div>
            <a href="#"><button class= "btn btn-success starttimer">Start Timer</button></a>
            <a href="#"><button class="btn btn-danger" id="stoptimer">Stop Timer</button></a>
            <a href="#"><button class= "btn btn marketcrash">Market Crash</button></a>
            <div class ="sales_info">
              <h3 style="text-align:center">Total Sales Today: $<%= @total_sales_for_today %> | Number of Sales for Last Timer: <%= @total_sales_for_last_timer %> </h3>
            </div>
          </div>
    </div>
    <% end %>
      <!-- Timer -->
<div class="tables_container">
      <div id="hour" style="text-align:center; margin-bottom:-50px; padding-top: 100px;">0:00</div>
      <h1 style="text-align:center; padding-top: 10%;">🍺🍹🍸🍾🍷</h1>
    <div class="slide" data-anchor="slide1">
      <div class= "row shots_container">
        <div class="row top_tables">
          <div class="col-md-6" id ="tequila">

            <h2></i>Tequila Shots</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Tequila'] %>
          </div>
          <div class="col-md-6" id ="rum">
            <h2></i>Rum Shots</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Rum'] %>
          </div>
        </div>
        <div class="row bottom_tables">
          <div class="col-md-6" id="whiskey">
            <h2></i>Whiskey Shots</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Whiskey']%>
          </div>
          <div class="col-md-6" id="vodka">
            <h2></i>Vodka Shots</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Vodka']%>
          </div>
        </div>
      </div>
    </div>

     <div class="slide" data-anchor="slide2">
      <div class= "beer_container">
        <div class="row top_tables">
          <div class="col-md-3" id ="domestic">
            <h2><i class="fa fa-beer" aria-hidden="true"></i>Domestic Beers</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Domestic'] %>
          </div>
          <div class="col-md-3" id ="imported" style="margin-left: -30px;">
            <h2><i class="fa fa-beer" aria-hidden="true"></i>Imported Beers</h2>
              <%= render 'partial', drinks: @drinks_prices_today['Imported'] %>
          </div>
        </div>
        <div class="row bottom_tables">
          <div class="col-md-3", id="brewery" style="margin-right: -12px;">
            <h2><i class="fa fa-beer" aria-hidden="true"></i>Brewery Beers</h2>
              <%= render 'partial', drinks: @drinks_prices_today['Wynwood Brewery'] %>
          </div>
          <div class ="col-md-3", id ="wine">
            <h2><i class="fa fa-beer" aria-hidden="true"></i>Wine Selection</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Wine'] %>
          </div>
        </div>

          </div>

        </div>
      <div class="slide" data-anchor="slide3">
        <div class= "best_deal_container">
          <div class="row top_tables">
            <div class="col-md-3"  id ="best_deal">
              <h2>Best Deals</h2>
              <%= render 'partial', drinks: @best_deal %>
            </div>
            <div class="col-md-3" id= "best_deal_cocktail">
              <h2>Best Cocktail</h2>
              <%= render 'partial', drinks: @best_deal_cocktail %>
            </div>
          </div>
          <div class="row bottom_tables">
            <div class="col-md-3"  id ="best_deal_beer">
              <h2>Best Beer Deals</h2>
              <%= render 'partial', drinks: @best_deal_beer %>
            </div>
            <div  class="col-md-3" id ="best_deal_shot">
              <h2>Best Shot Deals</h2>
              <%= render 'partial', drinks: @best_deal_shot %>
            </div>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="slide4">
        <!-- <div class="cocktail_container"> -->
          <div class="col-md-6" style="margin: 0px auto;" id="cocktail">
            <h2 style="text-align:center;"><i class="fa fa-glass" aria-hidden="true"></i>Cocktails</h2>
            <%= render 'partial', drinks: @drinks_prices_today['Cocktail'] %>
          </div>
        </div>
      </div>
      </div>
    </div>
      <!-- </div> -->
    </div>
  </div>
