<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a class="page-scroll" href="#beer">Beers</a>
                </li>
                <li>
                    <%= link_to 'Log In', login_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Video Background -->


<div class="header-container">

  <div class="video-container">
      <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
          <source src="/modelo.mp4" type="video/mp4">
      </video>

  </div>
</div>

<div id="up"
 <h1>Bottoms Up.</h1>
 </div>
 <p class="fav">drink your favorite drink for less!!! <br/>
 <p class="fav">stay on the lookout and let your brain go wild.</p>
 </p>

<svg class="arrow">
              <path class="a1" d="M0 0 L30 32 L60 0"></path>
              <path class="a2" d="M0 20 L30 52 L60 20"></path>
              
            </svg>


<div id="hour" style="text-align:center">

</div>

<section id="beer" class="container content-section text-center">

    <table class="table">
      <thead>
        <tr>
          <th id="na">Name</th>
          <th id="na">Brand</th>
          <th id="na">Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @drinks.each do |drink| %>
          <tr>
            <td><%= drink.name %></td>
            <td><%= drink.brand %></td>
            <td>$<%= drink.price %></td>
            <td><%= link_to 'Buy', '#' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</section>
