
  <!-- Image Background -->
  <div class="section" id="section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome To BeerBash</h1><br>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="section" id="section2">
    <center>
      <div class="container">
          <iframe src="https://player.vimeo.com/video/177134132" width="1000" height="600" align="center" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </center>
  </div>

  <!-- the navbar on top of the timer -->


<div class="section" id="section3">


      <ul class="nav nav-tabs">
        <li id="biggestchange"><a href="#">Main Page</a></li>
        <li id="beerss"><a href="#">Beers and Wine</a> </li>
        <li id="shot"> <a href="#">Shots</a></li>
        <li id="cocktail"> <a href="#">Signature Cocktails</a></li>
      </ul>
      <!-- Timer -->
      <div id="hour" style="text-align:center"></div>
      <button class= "starttimer"><a href="">Start Timer</a></button>
      <button id="stoptimer"><a href="#">Stop Timer</a></button>


<div class ="tables_container">
  <div class= "shots_container">
      <div  id ="tequila">
        <%= render 'partial', drinks: @tequila %>
      </div>
      <div id ="rum">
        <%= render 'partial', drinks: @rum %>
      </div>
      <div id ="whiskey">
        <%= render 'partial', drinks: @whiskey%>
      </div>
      <div id ="vodka">
        <%= render 'partial', drinks: @vodka%>
      </div>
    </div>

    <div class= "beer_container">
      <div class="col-md-3" style="margin-left: 96px; margin-right: 96px;", id ="domestic">
        <%= render 'partial', drinks: @domestic %>
      </div>
      <div class="col-md-3" style="margin-right: 96px;", id ="imported">
        <%= render 'partial', drinks: @imported %>
      </div>
      <div class="col-md-3", id ="brewery">
        <%= render 'partial', drinks: @brewery %>
      </div>
      <div class ="col-md-3", id ="wine">
        <%= render 'partial', drinks: @wine %>
      </div>
    </div>
    <div class= "cocktail_container">
      <div class ="col-md-6", id ="cocktail">
        <%= render 'partial', drinks: @cocktail %>
      </div>
    </div>
      <!-- <div class="section" id="section4"> -->
      <div class= "best_deal_container">
      <div  id ="best_deal">
        <%= render 'partial', drinks: @best_deal %>
      </div>
      <div  id= "best_deal_cocktail">
        <%= render 'partial', drinks: @best_deal_cocktail %>
      </div>
      <div  id ="best_deal_beer">
        <%= render 'partial', drinks: @best_deal_beer %>
      </div>
      <div  id ="best_deal_shot">
        <%= render 'partial', drinks: @best_deal_shot %>
      </div>
    </div>
</div>
</div>
