<div id="graph" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"></h4>
      <div class="modal-body">
        <%= render 'graph' %>
      </div>
    </div>
  </div>
</div>
<div id="fullpage">
  <!-- Image Background -->
  <div class="section" id="section1" data-anchor="home">
      <div class="container">
        <div class="row row1">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1 style="font-size: 69px;">Welcome To DYNAMIC DRINKS</h1>
              <div class="container">
                <p id="app-explaination">
                  this is the explaination of the app
                  <br/>
                  it should be no longer than two rows so it can fit nicely with the thingy
                </p>
              </div>
            </div>
            <div class="container" style="text-align: center;">
              <a href="#drinks"><button type="button" class="btn btn-success btn-lg">Drink Menu</button></a>
              <a href="#about"><button type="button" class="btn btn-primary btn-lg">About</button></a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="section" id="section2" data-anchor="about">
    <div class="container_video">
      <iframe src="https://player.vimeo.com/video/177134132" width="900" height="600" align="center" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <!-- the navbar on top of the timer -->


  <div class="section" id="section3" data-anchor="drinks">

      <ul class="nav nav-tabs">
        <li id="biggestchange"><a href="#">Main Page</a></li>
        <li id="beerss"><a href="#">Beers and Wine</a> </li>
        <li id="shot"> <a href="#">Shots</a></li>
        <li id="cocktail"> <a href="#">Signature Cocktails</a></li>
      </ul>

      <% if session[:owner_id] %>
      <div class = "onwers_info">
        <div class ="admin_timers">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Timer:</label>
              <input type="number" class="grab_time" placeholder="In Seconds">
            </div>
            <a href="#"><button class= "btn btn-success starttimer">Start Timer</button></a>
            <a href="#"><button class="btn btn-danger" id="stoptimer">Stop Timer</button></a>
            <!-- <div class ="sales_info"> -->
              <h3 style="text-align:center">Total Sales Today: $<%= @total_sales_for_today %> | Total Sales for Last Timer: <%= @total_sales_for_last_timer %> </h3>
            <!-- </div> -->
          </div>

    </div>
    <% end %>
      <!-- Timer -->
      <div id="hour" style="text-align:center"></div>




      <div class="tables_container">
        <div class= "shots_container">
          <div  id ="tequila">
            <%= render 'partial', drinks: @tequila %>
          </div>
          <div id ="rum">
            <%= render 'partial', drinks: @rum %>
          </div>
          <div id ="whiskey">
            <%= render 'partial', drinks: @whiskey%>
          </div>
          <div id ="vodka">
            <%= render 'partial', drinks: @vodka%>
          </div>
        </div>

        <div class= "beer_container">
          <div class=""
          <div class="col-md-3" style="margin-left: 96px; margin-right: 96px;", id ="domestic">
            <%= render 'partial', drinks: @domestic %>
          </div>
          <div class="col-md-3" style="margin-right: 96px;", id ="imported">
            <%= render 'partial', drinks: @imported %>
          </div>
          <div class="col-md-3", id ="brewery">
            <%= render 'partial', drinks: @brewery %>
          </div>
          <div class ="col-md-3", id ="wine">
            <%= render 'partial', drinks: @wine %>
          </div>
        </div>
        <div class= "cocktail_container">
          <div class ="col-md-6", id ="cocktail">
            <%= render 'partial', drinks: @cocktail %>
          </div>
        </div>
        <!-- <div class="section" id="section4"> -->
        <div class= "best_deal_container">
          <div class="row top_tables">
            <div class="col-md-3"  id ="best_deal">
              <%= render 'partial', drinks: @best_deal %>
            </div>
            <div class="col-md-3" id= "best_deal_cocktail">
              <%= render 'partial', drinks: @best_deal_cocktail %>
            </div>
          </div>
          <div class="row bottom_tables">
            <div class="col-md-3"  id ="best_deal_beer">
              <%= render 'partial', drinks: @best_deal_beer %>
            </div>
            <div  class="col-md-3" id ="best_deal_shot">
              <%= render 'partial', drinks: @best_deal_shot %>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>
