<!DOCTYPE html>
<html>
  <head>
    <title>BarBash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_owner %>
      <p>
        <%= current_owner.name %> | <%= link_to 'Log Out', logout_path %>
      </p>
        <% else %>
        <p>
          <%= link_to 'Sign up as Bar Owner', signup_path %> | <%= link_to 'Log In', login_path%>
        </p>
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
