<!DOCTYPE html>
<html>
  <head>

    <title>BarBash</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  </head>

  <body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll scroll" id="upthere" href="#section3">BEERS</a>
                    </li>
                    <li>
                        <a class="page-scroll scroll" id="downthere" href="#">ABOUT</a>
                    </li>
                    <li>
                        <%= link_to 'LOG IN', login_path, class: "page-scroll" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav><!-- /.container -->
    <div id="fullpage">
      <%= yield %>
    </div>


    <div class="javascript">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/jquery.fullPage.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/jquery.fullPage.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/vendors/jquery.easings.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/vendors/scrolloverflow.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/vendors/scrolloverflow.min.js"></script>
      <script type="text/javascript">
      $(function(){
        $('#fullpage').fullpage();
      });

      var handler = StripeCheckout.configure({
      	key: 'pk_test_62HeHVyg9ixt0DZ2WE0UdVZ1',
      	locale: 'auto',
      	token: function(token) {
      		// You can access the token ID with `token.id`.
      		// Get the token ID to your server-side code for use.
      	}
      });

      $('body').on('click','.customButton', function(e) {
      	e.preventDefault();
      	var table = $(this).parent().parent().children(), holding = [];

      	table.each(function(i){
      		holding.push($(this).text());
      			// console.log($(this).text());
      	});
      	// console.log($(this).parent().parent().children());
      	var name = holding[0], bio = holding[1], price = holding[2];
      	// Open Checkout with further options:
      	handler.open({
      		name: name,
      		description: bio,
      		amount: parseInt(price) * 100
      	});
      });
      </script>
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script type="text/javascript">Stripe.setPublishableKey('pk_test_62HeHVyg9ixt0DZ2WE0UdVZ1');</script>
    </div>

  </body>
</html>
